# Rename a directory and force visitors to the new name
# Replace 'old' with your old folder name
# Replace 'new' with your new folder name
RewriteEngine on
# Redirects for Auctioneers page
RewriteRule ^/?accelerated-auction-solutions-in-chamblee-georgia.php([a-z/.]*)$ /auctioneers/1$1 [R=301,L]
RewriteRule ^/?american-auction-associates-in-smyrna-georgia.php([a-z/.]*)$ /auctioneers/2$1 [R=301,L]
RewriteRule ^/?amp-liquidity-consultants-in-lake-city-georgia.php([a-z/.]*)$ /auctioneers/3$1 [R=301,L]
RewriteRule ^/?atlanta-auction-company-in-lawrenceville-georgia.php([a-z/.]*)$ /auctioneers/4$1 [R=301,L]
RewriteRule ^/?atlanta-liquidation-in-tucker-georgia.php([a-z/.]*)$ /auctioneers/5$1 [R=301,L]
RewriteRule ^/?atlanta-surplus-&-auction-in-norcross-georgia.php([a-z/.]*)$ /auctioneers/6$1 [R=301,L]
RewriteRule ^/?auction-management-corporation-in-atlanta-georgia.php([a-z/.]*)$ /auctioneers/7$1 [R=301,L]
RewriteRule ^/?bell-auctioneers-in-conyers-georgia.php([a-z/.]*)$ /auctioneers/8$1 [R=301,L]
RewriteRule ^/?bennetts-auction-and-estate-services-in-tyrone-georgia.php([a-z/.]*)$ /auctioneers/9$1 [R=301,L]
RewriteRule ^/?big-jims-auction-in-woodstock-georgia.php([a-z/.]*)$ /auctioneers/10$1 [R=301,L]
RewriteRule ^/?big-sky-auctions-&-estate-sales-in-atlanta-georgia.php([a-z/.]*)$ /auctioneers/11$1 [R=301,L]
RewriteRule ^/?braxtons-auctioneering-in-loganville-georgia.php([a-z/.]*)$ /auctioneers/12$1 [R=301,L]
RewriteRule ^/?bullseye-auction-group-in-lawrenceville-georgia.php([a-z/.]*)$ /auctioneers/13$1 [R=301,L]
RewriteRule ^/?cherry-hill-auctions-in-snellville-ga.php([a-z/.]*)$ /auctioneers/14$1 [R=301,L]
RewriteRule ^/?clark-auction-company-in-canton-georgia.php([a-z/.]*)$ /auctioneers/15$1 [R=301,L]
RewriteRule ^/?doan-&-associates-auction-company-in-kennesaw-georgia.php([a-z/.]*)$ /auctioneers/16$1 [R=301,L]
RewriteRule ^/?elrod-auction-company-in-douglasville-georgia.php([a-z/.]*)$ /auctioneers/17$1 [R=301,L]
RewriteRule ^/?harris-auction-service-in-fairburn-georgia.php([a-z/.]*)$ /auctioneers/18$1 [R=301,L]
RewriteRule ^/?janice-l-nicholas-auctioneer-in-hapeville-georgia.php([a-z/.]*)$ /auctioneers/19$1 [R=301,L]
RewriteRule ^/?john-dixon-&-associates-company-in-marietta-georgia.php([a-z/.]*)$ /auctioneers/20$1 [R=301,L]
RewriteRule ^/?lee-bissell-auctions-in-suwanee-georgia.php([a-z/.]*)$ /auctioneers/21$1 [R=301,L]
RewriteRule ^/?michael-robucks-auctions-in-atlanta-georgia.php([a-z/.]*)$ /auctioneers/22$1 [R=301,L]
RewriteRule ^/?my-benefit-auctioneer-in-avondale-estates-georgia.php([a-z/.]*)$ /auctioneers/23$1 [R=301,L]
RewriteRule ^/?realty-addicts-in-marietta-georgia.php([a-z/.]*)$ /auctioneers/24$1 [R=301,L]
RewriteRule ^/?the-dobbins-company-in-atlanta-georgia.php([a-z/.]*)$ /auctioneers/25$1 [R=301,L]
RewriteRule ^/?trader-j-auction-in-lawrenceville-georgia.php([a-z/.]*)$ /auctioneers/26$1 [R=301,L]

# Redirects for Auction Houses page
RewriteRule ^/?auction-depot-in-atlanta-ga.php([a-z/.]*)$ /auction-houses/1$1 [R=301,L]
RewriteRule ^/?cherry-hill-auctions-in-snellville-ga.php([a-z/.]*)$ /auction-houses/2$1 [R=301,L]
RewriteRule ^/?depew-auction-in-atlanta-ga.php([a-z/.]*)$ /auction-houses/3$1 [R=301,L]
RewriteRule ^/?four-seasons-auction-gallery-in-alpharetta-ga.php([a-z/.]*)$ /auction-houses/4$1 [R=301,L]
RewriteRule ^/?gallery-63-in-atlanta-ga.php([a-z/.]*)$ /auction-houses/5$1 [R=301,L]
RewriteRule ^/?j-woodward-auctions-in-dallas-ga.php([a-z/.]*)$ /auction-houses/6$1 [R=301,L]
RewriteRule ^/?king-galleries-in-roswell-ga.php([a-z/.]*)$ /auction-houses/7$1 [R=301,L]
RewriteRule ^/?my-hart-auctions-in-cumming-ga.php([a-z/.]*)$ /auction-houses/8$1 [R=301,L]
RewriteRule ^/?olde-time-auction-&-appraisal-in-conyers-ga.php([a-z/.]*)$ /auction-houses/9$1 [R=301,L]
RewriteRule ^/?peachtree-&-bennett-antiques-estates-auctions-in-atlanta-ga.php([a-z/.]*)$ /auction-houses/10$1 [R=301,L]
RewriteRule ^/?phoenix-store-fixtures-&-auctions-in-conyers-ga.php([a-z/.]*)$ /auction-houses/11$1 [R=301,L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
    RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

RewriteCond %{HTTP_HOST} ^auctionsinatlanta\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.auctionsinatlanta\.com$