<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteRule  ^(css|fonts|functions|js|media|tpl|vendor)($|/) - [L]
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirects for Auctioneers page
    RewriteRule ^/accelerated-auction-solutions-in-chamblee-georgia.php$ /auctioneers/1 [R=301,L]
    RewriteRule ^/american-auction-associates-in-smyrna-georgia.php$ /auctioneers/2 [R=301,L]
    RewriteRule ^/amp-liquidity-consultants-in-lake-city-georgia.php$ /auctioneers/3 [R=301,L]
    RewriteRule ^/atlanta-auction-company-in-lawrenceville-georgia.php$ /auctioneers/4 [R=301,L]
    RewriteRule ^/atlanta-liquidation-in-tucker-georgia.php$ /auctioneers/5 [R=301,L]
    RewriteRule ^/atlanta-surplus-&-auction-in-norcross-georgia.php$ /auctioneers/6 [R=301,L]
    RewriteRule ^/auction-management-corporation-in-atlanta-georgia.php$ /auctioneers/7 [R=301,L]
    RewriteRule ^/bell-auctioneers-in-conyers-georgia.php$ /auctioneers/8 [R=301,L]
    RewriteRule ^/bennetts-auction-and-estate-services-in-tyrone-georgia.php$ /auctioneers/9 [R=301,L]
    RewriteRule ^/big-jims-auction-in-woodstock-georgia.php$ /auctioneers/10 [R=301,L]
    RewriteRule ^/big-sky-auctions-&-estate-sales-in-atlanta-georgia.php$ /auctioneers/11 [R=301,L]
    RewriteRule ^/braxtons-auctioneering-in-loganville-georgia.php$ /auctioneers/12 [R=301,L]
    RewriteRule ^/bullseye-auction-group-in-lawrenceville-georgia.php$ /auctioneers/13 [R=301,L]
    RewriteRule ^/cherry-hill-auctions-in-snellville-ga.php$ /auctioneers/14 [R=301,L]
    RewriteRule ^/clark-auction-company-in-canton-georgia.php$ /auctioneers/15 [R=301,L]
    RewriteRule ^/doan-&-associates-auction-company-in-kennesaw-georgia.php$ /auctioneers/16 [R=301,L]
    RewriteRule ^/elrod-auction-company-in-douglasville-georgia.php$ /auctioneers/17 [R=301,L]
    RewriteRule ^/harris-auction-service-in-fairburn-georgia.php$ /auctioneers/18 [R=301,L]
    RewriteRule ^/janice-l-nicholas-auctioneer-in-hapeville-georgia.php$ /auctioneers/19 [R=301,L]
    RewriteRule ^/john-dixon-&-associates-company-in-marietta-georgia.php$ /auctioneers/20 [R=301,L]
    RewriteRule ^/lee-bissell-auctions-in-suwanee-georgia.php$ /auctioneers/21 [R=301,L]
    RewriteRule ^/michael-robucks-auctions-in-atlanta-georgia.php$ /auctioneers/22 [R=301,L]
    RewriteRule ^/my-benefit-auctioneer-in-avondale-estates-georgia.php$ /auctioneers/23 [R=301,L]
    RewriteRule ^/realty-addicts-in-marietta-georgia.php$ /auctioneers/24 [R=301,L]
    RewriteRule ^/the-dobbins-company-in-atlanta-georgia.php$ /auctioneers/25 [R=301,L]
    RewriteRule ^/trader-j-auction-in-lawrenceville-georgia.php$ /auctioneers/26 [R=301,L]

    # Redirects for Auction Houses page
    RewriteRule ^/auction-depot-in-atlanta-ga.php$ /auction-houses/1 [R=301,L]
    RewriteRule ^/cherry-hill-auctions-in-snellville-ga.php$ /auction-houses/2 [R=301,L]
    RewriteRule ^/depew-auction-in-atlanta-ga.php$ /auction-houses/3 [R=301,L]
    RewriteRule ^/four-seasons-auction-gallery-in-alpharetta-ga.php$ /auction-houses/4 [R=301,L]
    RewriteRule ^/gallery-63-in-atlanta-ga.php$ /auction-houses/5 [R=301,L]
    RewriteRule ^/j-woodward-auctions-in-dallas-ga.php$ /auction-houses/6 [R=301,L]
    RewriteRule ^/king-galleries-in-roswell-ga.php$ /auction-houses/7 [R=301,L]
    RewriteRule ^/my-hart-auctions-in-cumming-ga.php$ /auction-houses/8 [R=301,L]
    RewriteRule ^/olde-time-auction-&-appraisal-in-conyers-ga.php$ /auction-houses/9 [R=301,L]
    RewriteRule ^/peachtree-&-bennett-antiques-estates-auctions-in-atlanta-ga.php$ /auction-houses/10 [R=301,L]
    RewriteRule ^/phoenix-store-fixtures-&-auctions-in-conyers-ga.php$ /auction-houses/11 [R=301,L]
</IfModule>