<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteRule  ^(css|fonts|functions|js|media|tpl|vendor)($|/) - [L]
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirects for Auctioneers page
    Redirect 301 auctionsinatlanta.com/accelerated-auction-solutions-in-chamblee-georgia.php /auctioneers/1
    Redirect 301 /american-auction-associates-in-smyrna-georgia.php /auctioneers/2
    Redirect 301 /amp-liquidity-consultants-in-lake-city-georgia.php /auctioneers/3
    Redirect 301 /atlanta-auction-company-in-lawrenceville-georgia.php /auctioneers/4
    Redirect 301 /atlanta-liquidation-in-tucker-georgia.php /auctioneers/5
    Redirect 301 /atlanta-surplus-&-auction-in-norcross-georgia.php /auctioneers/6
    Redirect 301 /auction-management-corporation-in-atlanta-georgia.php /auctioneers/7
    Redirect 301 /bell-auctioneers-in-conyers-georgia.php /auctioneers/8
    Redirect 301 /bennetts-auction-and-estate-services-in-tyrone-georgia.php /auctioneers/9
    Redirect 301 /big-jims-auction-in-woodstock-georgia.php /auctioneers/10
    Redirect 301 /big-sky-auctions-&-estate-sales-in-atlanta-georgia.php /auctioneers/11
    Redirect 301 /braxtons-auctioneering-in-loganville-georgia.php /auctioneers/12
    Redirect 301 /bullseye-auction-group-in-lawrenceville-georgia.php /auctioneers/13
    Redirect 301 /cherry-hill-auctions-in-snellville-ga.php /auctioneers/14
    Redirect 301 /clark-auction-company-in-canton-georgia.php /auctioneers/15
    Redirect 301 /doan-&-associates-auction-company-in-kennesaw-georgia.php /auctioneers/16
    Redirect 301 /elrod-auction-company-in-douglasville-georgia.php /auctioneers/17
    Redirect 301 /harris-auction-service-in-fairburn-georgia.php /auctioneers/18
    Redirect 301 /janice-l-nicholas-auctioneer-in-hapeville-georgia.php /auctioneers/19
    Redirect 301 /john-dixon-&-associates-company-in-marietta-georgia.php /auctioneers/20
    Redirect 301 /lee-bissell-auctions-in-suwanee-georgia.php /auctioneers/21
    Redirect 301 /michael-robucks-auctions-in-atlanta-georgia.php /auctioneers/22
    Redirect 301 /my-benefit-auctioneer-in-avondale-estates-georgia.php /auctioneers/23
    Redirect 301 /realty-addicts-in-marietta-georgia.php /auctioneers/24
    Redirect 301 /the-dobbins-company-in-atlanta-georgia.php /auctioneers/25
    Redirect 301 /trader-j-auction-in-lawrenceville-georgia.php /auctioneers/26

    # Redirects for Auction Houses page
    Redirect 301 /auction-depot-in-atlanta-ga.php /auction-houses/1
    Redirect 301 /cherry-hill-auctions-in-snellville-ga.php /auction-houses/2
    Redirect 301 /depew-auction-in-atlanta-ga.php /auction-houses/3
    Redirect 301 /four-seasons-auction-gallery-in-alpharetta-ga.php /auction-houses/4
    Redirect 301 /gallery-63-in-atlanta-ga.php /auction-houses/5
    Redirect 301 /j-woodward-auctions-in-dallas-ga.php /auction-houses/6
    Redirect 301 /king-galleries-in-roswell-ga.php /auction-houses/7
    Redirect 301 /my-hart-auctions-in-cumming-ga.php /auction-houses/8
    Redirect 301 /olde-time-auction-&-appraisal-in-conyers-ga.php /auction-houses/9
    Redirect 301 /peachtree-&-bennett-antiques-estates-auctions-in-atlanta-ga.php /auction-houses/10
    Redirect 301 /phoenix-store-fixtures-&-auctions-in-conyers-ga.php /auction-houses/11
</IfModule>